<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      TIC TAC TOE
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="cntainer">
    <div class="buttons-wrapper d-block h-100">
      <h2 class="header">TIC-TAC-TOE</h2>

      <button class="btn btn-success computer m-5" (click)="playWith('computer')">With Computer</button>
      <button class="btn btn-success player m-5" (click)="playWith('player')">With Player Two</button>
    </div>

    <!-- <app-mainwrapper></app-mainwrapper> -->
  </div>
</ion-content>